{% extends 'BaseTemplate.html.twig' %}
{% block title %}
    <div >
        <div >
            <h3>Création d'un post</h3>
        </div>
    </div>
{% endblock %}

{% block content %}

   <div class="container">
        <div class="content">
        <form action="index.php?action=createPost" method="post">

            <div>
                <label for="title">Titre</label>
                <input type="text"   id="title" name="title">
            </div>

            <div>
                <label for="chapo">Chapo</label>
                <input type="text"  id="chapo" name="chapo">
            </div>

            <div>
                <label for="content">Contenu</label>
                <textarea type="text" cols="30" rows="10" id="content" name="content"></textarea>
            </div>
            <label style="float: left; margin: 5px auto 5px;">Image</label>
				<input type="file" name="featured_image">
                {% if userSession.role == 'Admin' %}
						<label for="publish">
							Publier
							<input type="checkbox" value="0" name="publish" id="publish" checked="checked">&nbsp;
						</label>
                {% endif %}        
            <button type="submit" class="btn" name="create_post">Créer</button>
        </form>
 </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}