{% extends 'BaseTemplate.html.twig' %}

	
{% block content %}
    <div class="container">
             <div class="content">
    <form action="index.php?action=editPost" method="post">
        <input type="hidden" id="id_post" name="idPost" value="{{ post.id }}">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" class="form-control" value="{{post.title}}" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="chapo">Chapo</label>
            <input type="text" class="form-control" value="{{post.chapo}}" id="chapo" name="chapo">
        </div>
        <div class="form-group form-check">
            <label for="content">Contenu</label>
            <textarea type="text" class="form-control" rows="10" id="content" name="content">{{post.content}}</textarea>
        </div>
        <button type="submit" class="btn">Editer</button>
    </form>
</div>
    </div>
{% endblock %}