{% extends 'BaseTemplate.html.twig' %}

{% block content %}
    <form method="post" action="index.php?action=register">
        <div class="form-group">
            <label for="text">Username</label>
            <input type="text" name="username" class="form-control" id="passwrd" placeholder="Username">
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Vos données sont protégées!</small>
        </div>

        <div class="form-group">
            <label for="passwrd">Mot de passe</label>
            <input type="password" name="password1" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="passwrd">Retapez le mot de passe</label>
            <input type="password" name="password2" class="form-control" id="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
{% endblock %}
