<!DOCTYPE html>
<html>
<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Noto+Serif|Tangerine" rel="stylesheet">
	<!-- CSS pour espace public -->
	<link rel="stylesheet" href= "static/css/public_styling.css">
	<meta charset="UTF-8">
<head>
	
	<title>Blog Ibtissem Ben Hammouda </title>


<div class="navbar">
	<div class="logo_div">
			<h1>Blog Ibtissem Ben Hammouda</h1>
		</a>
	</div>
	<ul>
		<li class="nav-item"><a  href="index.php">Home</a></li>
		<li class="nav-item"><a  href="index.php?action=listPosts">Blogs</a></li>
        
	 {% if userSession.id is defined %}
            {% if userSession.role == 'admin' %}
        <li class="nav-item"> <a  href="index.php?action=createPost">Créer un poste</a> 
        </li>
            {% endif %}
        {% endif %}
	</ul>
	{% if userSession.id is defined %}
    <ul class="navbar-nav justify-content-end">
        <li class="user-info">
            {% if userSession.role == 'admin' %}
                <a class="buttons" href="index.php?action=adminDashboard">Mon compte</a>
            {% elseif userSession.role == 'user' %}
                <a class="buttons" href="index.php?action=userDachboard">Mon compte</a>
            {% endif %}
        </li>
    </ul>
    {% endif %}
 <ul>
     {% if userSession.id is defined %}
        <form class="user-info">
            <a class="headerAdmin .logout-btn" href="index.php?action=logout">Logout</a>
        </form>
    {% else %}
        <form class="nav-item">
        <a class="btn btn-success" href="index.php?action=login">Login</a>
        </form>
        <form class="nav-item">
            <a class="btn btn-warning" href="index.php?action=register">Créer un compte</a>
        </form>
    {% endif %}
	 </ul>
</div>
</head>

<body>
<section id="content">
  <div class="container">
  
{% block content %}
{% if successMessage is defined %}
    <div class="alert alert-success">
        {{ successMessage }}
    </div>
{% endif %}
{% endblock %}
</div>
</section>
</body>

{% block footer %}

<div class="footer">

  © Copyright © 2023 - Site réalisé par Ibtissem Ben Hammouda
  <a class="text-dark" href="https://www.linkedin.com/in/ibtissem-ben-hammouda-b0027653/?originalSubdomain=fr">Linkedin <?php echo date('Y'); ?></a>
<li><a href="index.php?action=contact">Contact</a></li>
		<li><a href="static/cv/CV_Ibtissem_BEN_HAMMOUDA.pdf">Mon CV</a></li>

{% if userSession.id is defined %}

    {% if userSession.role == 'admin' %}
        <div  class="btn btn-primary">
            <div>
                <a href="index.php?action=adminDashboard">Administration</a>
            </div>
        </div>
    {% endif %}
{% endif %}

</div>

</footer>
{% endblock %}

