<!DOCTYPE html>
<html>
<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Noto+Serif|Tangerine" rel="stylesheet">
	<!-- CSS pour espace public -->
	<link rel="stylesheet" href= "static/css/public_styling.css">
	<meta charset="UTF-8">
<head>
	
	<title>Blog Ibtissem Ben Hammouda </title>


<div class="navbar">
	<div class="logo_div">
			<h1>Blog Ibtissem Ben Hammouda</h1>
		</a>
	</div>
	<ul>
		<li><a class="active" href="index.php">Home</a></li>
		<li><a href="index.php?action=listPosts">Blogs</a></li>
        
	 {% if session.id is defined %}
            {% if session.role == 'Administrateur' %}
        <li class="nav-item">
            <a class="nav-link" href="index.php?action=createPoste">Créer un poste</a> 
        </li>
            {% endif %}
        {% endif %}
	</ul>
	{% if session.id is defined %}
    <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
            {% if session.role == 'Administrateur' %}
                <a class="nav-link" href="index.php?action=dashboardAdmin">Mon compte</a>
            {% elseif session.role == 'Utilisateur' %}
                <a class="nav-link" href="index.php?action=dashboardUser">Mon compte</a>
            {% endif %}
        </li>
    </ul>
    {% endif %}
 <ul>
 
    {% if session.id is defined %}
        <form class="nav-item">
            <a class="btn btn-warning" href="index.php?action=logout">Logout</a>
        </form>
    {% else %}
        <form class="nav-item">
        <a class="btn btn-success" href="index.php?action=login">Login</a>
        </form>
        <form class="nav-item">
            <a class="btn btn-warning" href="index.php?action=register">Créer un compte</a>
        </form>
    {% endif %}
	 </ul>
</div>
</head>

<body class="d-flex flex-column min-vh-100">
<section id="content">
  <div class="container">
{% block content %}

{% endblock %}
</div>
</section>
</body>
<footer>
<div class="footer">

  © Copyright © 2023 - Site réalisé par Ibtissem Ben Hammouda
  <a class="text-dark" href="https://www.linkedin.com/in/ibtissem-ben-hammouda-b0027653/?originalSubdomain=fr">Linkedin <?php echo date('Y'); ?></a>
<li><a href="contact.php">Contact</a></li>
		<li><a href="<?php echo 'static/cv/CV_Ibtissem_BEN_HAMMOUDA.pdf' ?>">Mon CV</a></li>

{% if session.id is defined %}
test
    {% if session.role == 'Administrateur' %}
        <div class="row">
            <div class="col">
                <a href="index.php?action=admin">Administration</a>
            </div>
        </div>
    {% endif %}
{% endif %}

</div>

</footer>

</html>
