{% extends 'BaseTemplate.html.twig' %}
{% block head %} {% if userSession.id is defined %}
            {% if userSession.role == 'Admin' %}
        <li class="nav-item">
            <a class="nav-link" href="index.php?action=createPoste">Créer un poste</a> 
        </li>
            {% endif %}
        {% endif %}{% endblock %}
{% block title %}
   
          <h3>HOME PAGE</h3>
       
{% endblock %}

{% block content %}

<div class="container">
    <div class="banner">
	    <div class="welcome_msg">
		<!-- message inspiration -->
		<h1>Inspiration</h1>
		    <p>
			“Un voyage de mille lieues <br>
			commence toujours <br>
			par un premier pas.” <br>
			<span>~ De Lao-Tseu Philosophe</span>
		    </p>

	    </div>
   
    </div>
</div>
{% endblock %}
