{% extends "BaseTemplate.html" %}
{% block title %}Liste des posts{% endblock %}
{% block head %}
{{ parent() }}
<style>
.important { color: #336699; }
</style>
{% endblock %}
{% block content %}
<h1>Liste des blogs posts</h1>
<p class="important">
Voici nos derniers blogs posts:

</p>
{% endblock %}